*{
    padding:0;
    margin:0;
}

body{
    text-align: center;
}

header{
    text-align: left;
    background-color:#1f1f1f;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 0.5rem;
}

h2{
    color:#1f1f1f;;
}

#logo{
    color:#f1f1f1;
}

#profile{
    display: flex;
    align-items: center;
    min-height: 90vh;
    background-color: #fafafa;
}

#profile img{
    display: none;
    border-radius: 2%;
}

#profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.2rem, 4vw, 1.4rem); 
    text-align: left;
    padding: 1.2rem 1.2rem 1.2rem 0.6rem;
}

#title{
    font-size: clamp(1rem, 8vw, 2.6rem); 
    font-family: 'Ubuntu', sans-serif;
    color: #1f1f1f;
}

#skills{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
}

.subtitle{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    font-size: clamp(1.4rem, 8vw, 1.8rem);
    padding: 4.5rem 2rem 0rem 2rem;
}

#skills .container{
    min-height: 100vh;
}

.skill-img{
    max-width: 50%;
    margin: 1rem 0;
}

#skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 2.5rem 0;
    min-height: 50vh;
}

#skill-list div{
    max-width: 300px;
    margin-bottom: 1rem;
}

#work-together{
    min-height: 90vh;
}

#work-together .container{
    display: flex; 
    flex-direction: column;
}

.content{
    min-height: 60vh;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.content div{
    display: flex;
}

#work-together-text{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#msg{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: left;
    padding: 1rem 1rem 2rem 1rem;
}

#work-together img{
    display: none;
}

#social-media-links{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
}

.contact-link{
    color:#1f1f1f;
    font-size: 1.1rem;
    padding: 1.6% 2%;
    margin: 2%;
}

.contact-link:hover{
    border-radius: 2%;
    color:#fafafa;
    background-color:#1f1f1f;
}

button{
    border:0;
    border-radius: 10px;
    background-color:#1f1f1f;
    padding: 8px 20px;
    margin: 2rem 0;
    width: fit-content;
}

footer{
    padding: 1.8rem 0;
    color: #f1f1f1;
    background-color:#1f1f1f;
}

@media only screen and (min-width: 600px) {
    .content{
        padding: 2rem 0rem;
    }

    #work-together img{
        min-width: 250px;
        max-width: 100%;
        display: block;
    }

    .container{
        width: 90%;
        margin: auto;
    }

    .skill-img{
        max-width: 60%;
    }
}

@media only screen and (min-width: 1000px) {

    #profile .container{
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
    }

    #profile-text{
        padding: 0 4rem 0 0;
    }

    #profile-img-div{
        max-width: 350px;
    }

    #profile img{
        width: 100%;
        display:initial;
    }

    .container{
        width:85%;
        margin: auto;
    }    

    #skill-list{
        margin-top: 3rem;
    }
}