*{
    padding:0;
    margin:0;
}

body{
    text-align: center;
    /* background-color: rgb(240, 128, 128,0.1); */
}

header{
    text-align: left;
    /* margin:0.5rem; */
    padding: 0.5rem;
    background-color:rgb(240, 128, 128,0.3) ;
}

main{
    /* margin: 0 0.5rem; */
    padding: 0.5rem;
}

hr{
    border: 7px #eaf6f6;
    border-style: dotted none none none;
    width: 10%;
    margin:2rem auto;
}

footer{
    padding: 1.5rem 0;
    background-color:rgb(240, 128, 128,0.3) ;

}

#container{
    /* margin: 0 0.5rem;
    padding: 0 0.5rem; */
    
    background-color: white;
}

h1, h2{
    color: rgb(238, 84, 84);
}

h2{
    margin-bottom: 1rem;
}

ol{
    margin:0.5rem;
}
#logo{
    color: rgb(238, 84, 84);
    text-decoration: none;
    padding: 0.5rem;
}

#profile{
    margin: 1rem 0;
}

#profile-img{
    border-radius: 100%;
    width: 50%;
}

#profile-text{
    margin: 1rem 0;
}

#profile-text:first-child{
    margin-bottom: 5rem;
}

#work-together{
    margin: 1rem;
}

.footer-link{
    display: inline-block;
    text-decoration: none;
    color:rgb(238, 84, 84);
    padding: 0 1rem 1rem 1rem;
}

button{
    border:0;
    border-radius: 10px;
    background-color:rgb(238, 84, 84);
    padding: 8px 20px;
    margin: 1rem;
}

#email{
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    #container{
        width: 90%;
        margin: auto;
    }
    main{
        padding: 0 3rem;
    }    
}

@media only screen and (min-width: 1000px) {
    #container{
        width: 70%;
        margin: auto;
    }
    main{
        max-width:600px;
        margin: auto;
    }    
}