*{
    padding:0;
    margin:0;
}

body{
    text-align: center;
}

header{
    text-align: left;
    padding: 0.5rem 0;
    background-color:#1f1f1f;
}

.container{
    margin: 0 0.5rem;
}

h2{
    color:#1f1f1f;;
}

h2{
    margin-bottom: 1rem;
}

ol{
    margin:0.5rem;
}

#logo{
    color:#f1f1f1;
    text-decoration: none;
}

#profile{
    display: flex;
    height: 90vh;
    background-color: #fafafa;
}

#profile-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
}

#profile-img{
    border-radius: 100%;
    max-width: 50%;
}

#profile-text{
    font-size: large;
    padding: 2rem;
}

#profile-text:first-child{
    margin-bottom: 5rem;
}

#skills{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
}


.subtitle{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 5rem 2rem 2rem 2rem;
}

#skills .container{
    height: 100%;
}

.skill-img{
    max-width: 40%;
    margin: 1rem 0;
}

#skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skill-list div{
    max-width: 300px;
}

#work-together{
    position: relative;
    height: 100vh;
}

#work-together .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#work-together-text{
    font-size: large;
    padding: 0 3rem 0 3rem;
}

#social-media-links{
    margin-bottom: 3rem;
}

.contact-link{
    display: inline-block;
    text-decoration: none;
    color:#1f1f1f;
    padding: 0 1rem 1rem 1rem;
}

.contact-link:hover{
    font-weight: bold;
}

button{
    border:0;
    border-radius: 10px;
    background-color:#1f1f1f;
    padding: 8px 20px;
    margin: 2rem 0;
    width: fit-content;
}

#email{
    color: white;
    text-decoration: none;
}

footer{
    padding: 1.5rem 0;
    color: #f1f1f1;
    background-color:#1f1f1f;
}

@media only screen and (min-width: 600px) {
    #container{
        width: 90%;
        margin: auto;
    }

    #profile-img{
        max-width: 35%;
    }
    .skill-img{
        max-width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .container{
        width:1000px;
        margin: auto;
    }    
    #skill-list{
        margin-top: 3rem;
    }
}